/node_modules
/public/js
/public/css
/public/mix-*.json
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.lock
*-lock.json